<a href="https://colab.research.google.com/github/Rajeeb-s-bal-2021/RAJIV_AIML/blob/main/06_01_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('HELLO CSE')

HELLO CSE

Using of Parameters in print() statement.

In [ ]:
print('Hello' , end='\n\n')
print('ABIT')

Hello

ABIT

In [ ]:
a=6
b=1
c=2023
print(a,b,c , sep='-')

6-1-2023

In [ ]:
a =100
print('a =' , a)

a = 100

In [ ]:
nm=input('Enter Name')
print(nm)

Enter NameRajiv
Rajiv

In [ ]:
# Using of + operator.
a = int(input('Enter a '))
b = int(input ('Enter b'))
c = a + b
print('a + b =', c)

Enter a 22
Enter b44
a + b = 66

In [ ]:
# The type() function
a = 100
print(type(a))
b = 33.55
print(type(b))
c= "ABIT"
print(type(c))
d = True
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [1]:
a=2
b=5
print(2**5)

32

In [2]:
# Using / and //
a=8
b=3
print(a/b)
print(a//b)

2.6666666666666665
2

In [3]:
a=True
b=True
c=False
print(a and b)
print(a and c)
print(a or b)
print(not c)

True
False
True
True

In [4]:
a=5
b=2
print(a>>b)

1

In [5]:
# Using ASSIGNMENT operator
a=5
a+=5
print(a)
a-=5
print(a)

10
5

In [6]:
x=5
y=5
print(x is y)
y=6
print(x is not y)

True
True

In [7]:
x='HELLO'
print('A' in x)

False

In [10]:
#Using if Statement in PYTHON
a=int(input('Enter a number'))
if a%2==0 :
 print('Even No=',a)

Enter a number6
Even No= 6

In [11]:
#Using if- else Statement in PYTHON
a=int(input('Enter a number'))
if a%2==0 :
 print('Even No=',a)
else :
 print('Odd No=',a)

Enter a number5
Odd No= 5

In [ ]:
# Using if - elif statement
number = int(input("Enter the number?"))  
if number==10:  
    print("number is equals to 10")  
elif number==50:  
    print("number is equal to 50");  
elif number==100:  
    print("number is equal to 100");  
else:  
    print("number is not equal to 10, 50 or 100");

In [12]:
# Using for statement
x='ABIT'
for i in x :
  print(i)

A
B
I
T